<div class='footer'>
  <div class='text-center bottom links'>
    inspired by <a href='http://whatthefuckshouldimakefordinner.com/'>this</a>
    |
    built with <a href='https://github.com/pikesley/wtfismygenericthing'>wtfismygenericthing</a>
    |
    based heavily on the wisdom of <a href='https://tommorris.org/'>tom morris</a>
    |
    made by <a href='<%= @footerurl %>'><%= @footername %></a>
  </div>
</div>
